{
  "plugins": [["module:react-native-dotenv"]],
  "env": {
    "production": {
      "plugins": [
        [
          "transform-remove-console",
          {
            "envName": "APP_ENV",
            "moduleName": "@env",
            "path": ".env"
          }
        ]
      ]
    }
  }
}
